<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd">
    <mvc:annotation-driven conversion-service="conversionService"
                           content-negotiation-manager="contentNegotiationManager">
        <mvc:message-converters>
            <ref bean="jsonMessageConverter"></ref>
        </mvc:message-converters>
            </mvc:annotation-driven>
    <mvc:resources mapping="/resources/**" location="/resources/, classpath:/META-INF/web-resources/"/>
    <mvc:view-controller path="/" view-name="redirect:/home.do"/>

    <aop:aspectj-autoproxy/>
    <!--<bean class="com.tongtu.config.WebDataRESTConfiguration"/>-->
    <!--<bean class="org.springframework.data.rest.webmvc.config.RepositoryRestMvcConfiguration"/>-->

    <!--<import resource="classpath:springmvc-resteasy.xml"/>-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" p:order="1"
          p:contentNegotiationManager-ref="contentNegotiationManager">
        <property name="defaultViews">
            <list>
                <!-- application/json -->
                <ref bean="mappingJacksonJsonView"/>
                <!-- for application/xml -->
                <ref bean="marshallingView"/>
            </list>
        </property>
    </bean>
    <bean id="mappingJacksonJsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"
          p:extractValueFromSingleKeyModel="true"
          p:contentType="application/json" p:objectMapper-ref="hibernateAwareObjectMapper" />


    <bean id="marshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView"
          p:marshaller-ref="xStreamMarshaller" p:contentType="application/xml">
    </bean>
    <bean id="xStreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller"
          p:autodetectAnnotations="true"/>
    <!--<bean id="jettisonMappedXMlDriver" class="com.thoughtworks.xstream.io.json.JettisonMappedXmlDriver"/>-->


    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
    </bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonMessageConverter"/>
                <ref bean= "stringHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" p:objectMapper-ref="hibernateAwareObjectMapper"/>
    <bean id = "stringHttpMessageConverter" class = "org.springframework.http.converter.StringHttpMessageConverter"/>
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManager">
        <constructor-arg>
            <bean class="org.springframework.web.accept.PathExtensionContentNegotiationStrategy">
                <constructor-arg>
                    <map>
                        <entry key="json">
                            <util:constant static-field="org.springframework.http.MediaType.APPLICATION_JSON_VALUE"/>
                        </entry>
                        <entry key="xml">
                            <util:constant static-field="org.springframework.http.MediaType.APPLICATION_XML_VALUE"/>
                        </entry>
                        <entry key="html">
                            <util:constant static-field="org.springframework.http.MediaType.TEXT_HTML_VALUE"/>
                        </entry>
                    </map>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>
    <mvc:default-servlet-handler/>
</beans>